#account-page {
	width: 100vw;
	height: 90vh;
	display: flex;
	background: #F0EFEB;
}

#side {
	width: 20vw;
	height: 90vh;
	background: pink;
}

#account-wrapper {
	width: 80vw;
	height: 90vh;
	display: flex;
}

#account-home {
	width: 45vw;
	height: 90vh;
	background: orange;
}

#account-friends {
	width: 35vw;
	height: 90vh;
	background: red;
	display: flex;
	justify-content: center;
	align-items: center;
}

#account-name {
	width: 45vw;
	height: 20vh;
	background: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 3rem;
	font-family: 'Tahoma', sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
}

#account-pic {
	width: 45vw;
	height: 50vh;
	background: yellow;
	display: flex;
	justify-content: center;
	align-items: center;
}

#account-date {
	width: 45vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Inconsolata', monospace;
	font-size: 2rem;
	color: white;
}

#friended-box {
	width: 45vw;
	height: 10vh;
	background: lime;
}

#pic-container {
	width: 200px;
	height: 200px;
}

img#profile {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: inline-block;
}

#friends-list {
	width: 22vw;
	height: 65vh;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	background: magenta;
	scrollbar-width: thin;
}

#friends-header {
	width: 100%;
	height: 10%;
	text-align: center;
	font-size: 1.2rem;
	font-family: 'Tahoma', sans-serif;
}

#friend-wrapper {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.friend-slide {
	margin: 0;
	margin-left: 1rem;
	display: flex;
	align-items: center;
	background: blue;
	height: 2rem;
	font-family: 'Tahoma', sans-serif;
}

#befriend {
	width: 45vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#befriend-button {
	width: 14vw;
	height: 8vh;
	border-radius: 25px;
	color: white;
	background: purple;
	font-size: 1.2rem;
	font-family: 'Tahoma', sans-serif;
	font-weight: bold;
	border: 0;
}

#settings-page {
	width: 80vw;
	height: 90vh;
	background: coral;
	display: flex;
	flex-direction: column;
}

.settings-prompt {
	display: none;
	transition: all 1s ease-in-out;
}

.settings-prompt > input {
	width: 60vw;
	height: 6vh;
	margin: 1rem;
	border: 0;
	border-radius: 25px;
}

.visible-prompt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80vw;
	height: 90vh;
	position: absolute;
	background: rgb(109, 2, 109);
	opacity: 80%;
	transition: all 1s ease-in-out;
}

#self-sidebar > * {
	width: 100%;
	height: 20vh;
	font-family: 'Inconsolata', monospace;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	padding-left: 1rem;
	transition: all 0.5s ease-in;
}

#self-sidebar > *:hover {
	background: purple;
	transition: all 0.5s ease-in;
}

#joined-date {
	width: 25vw;
	height: 10vh;
	text-align: center;
	color: white;
	border: 0;
	font-family: 'Inconsolata', monospace;
	font-size: 1.5rem;
	margin: 1.25rem;
}

#account-controller {
	display: flex;
	flex-direction: column;
	padding-left: 10vw;
}

#account-controller > button, label {
	width: 25vw;
	height: 10vh;
	text-align: center;
	color: white;
	border: 0;
	border-radius: 25px;
	font-family: 'Inconsolata', monospace;
	font-size: 1.2rem;
	margin: 0.6em;
}

button#change-password {
	background: navy;
}

label#change-profile {
	background: navy;
	display: flex;
	justify-content: center;
	align-items: center;
}

button#leave-channel {
	background: navy;
}

button#delete-channel {
	background: red;
	font-weight: bold;
}

button#delete-account {
	background: red;
	font-weight: bold;
}

#profile-uploader {
	display: none;
}