#account-page {
	width: 100vw;
	height: 90vh;
	display: flex;
	background: #F0EFEB;
}

#side {
	width: 20vw;
	height: 90vh;
	background: pink;
}

#account-wrapper {
	width: 80vw;
	height: 90vh;
	display: flex;
}

#account-home {
	width: 45vw;
	height: 90vh;
	background: orange;
}

#account-friends {
	width: 35vw;
	height: 90vh;
	background: red;
	display: flex;
	justify-content: center;
	align-items: center;
}

#account-name {
	width: 45vw;
	height: 20vh;
	background: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 3rem;
	font-family: 'Inconsolata', monospace;
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
}

#account-pic {
	width: 45vw;
	height: 50vh;
	background: yellow;
	display: flex;
	justify-content: center;
	align-items: center;
}

#account-date {
	width: 45vw;
	height: 10vh;
	background: purple;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Inconsolata', monospace;
	font-size: 2rem;
}

#friended-box {
	width: 45vw;
	height: 10vh;
	background: lime;
}

#pic-container {
	width: 200px;
	height: 200px;
	background: black;
}

img#profile {
	width: 100%;
	height: 0;
	background: white;
	padding-bottom: 100%;
	border-radius: 50%;
}

#friends-list {
	width: 18vw;
	height: 65vh;
	border-radius: 30px;
	background: magenta;
}

#befriend {
	width: 10vw;
	background: purple;
	color: white;
}

#settings-page {
	width: 80vw;
	height: 90vh;
	background: coral;
}

#homepage {
	width: 100%;
	height: 20vh;
	font-family: 'Inconsolata', monospace;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	padding-left: 1rem;
}

#settings {
	width: 100%;
	height: 20vh;
	font-family: 'Inconsolata', monospace;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	padding-left: 1rem;
}