#account-page {
	width: 100vw;
	height: 90vh;
	display: flex;
	background: #F0EFEB;
}

#side {
	width: 20vw;
	height: 90vh;
	background: #7209b7;
}

#account-wrapper {
	width: 80vw;
	height: 90vh;
	display: flex;
	background: #f3e2f5;
}

#account-wrapper > * {
	cursor: default;
}

#account-home {
	width: 45vw;
	height: 90vh;
}

#account-friends {
	width: 35vw;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#account-name {
	width: 45vw;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 3rem;
	font-family: 'Tahoma', sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
}

#account-pic {
	width: 45vw;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#account-date {
	width: 45vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Inconsolata', monospace;
	font-size: 2rem;
	color: black;
}

#friended-box {
	width: 45vw;
	height: 10vh;
	background: lime;
}

#pic-container {
	width: 200px;
	height: 200px;
}

img#profile {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: inline-block;
}

#friends-list {
	width: 22vw;
	height: 65vh;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	background: #7209b7;
	scrollbar-width: thin;
}

#friends-header {
	width: 100%;
	height: 10%;
	text-align: center;
	font-size: 1.4rem;
	font-weight: bold;
	font-family: 'Tahoma', sans-serif;
	color: white;
}

#friend-wrapper {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: #d200d2;
}

.friend-slide {
	margin: 0.5rem;
	margin-left: 1rem;
	display: flex;
	align-items: center;
	color: white;
	height: 3rem;
	padding-left: 2rem;
	border-radius: 35px;
	font-weight: bold;
	font-family: 'Tahoma', sans-serif;
	transition: all 0.3s ease-in-out;
}

.friend-slide:hover {
	background:rgb(0, 0, 70);
	transition: all 0.3s ease-in-out;
}

#befriend {
	width: 45vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#befriend-button {
	width: 14vw;
	height: 8vh;
	border-radius: 25px;
	color: white;
	background: purple;
	font-size: 1.2rem;
	font-family: 'Tahoma', sans-serif;
	font-weight: bold;
	border: 0;
}

#settings-page {
	width: 80vw;
	height: 90vh;
	background: #f3e2f5;
	display: flex;
	flex-direction: column;
}

#self-sidebar > * {
	width: 100%;
	height: 20vh;
	font-family: 'Inconsolata', monospace;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	padding-left: 1rem;
	cursor: default;
	transition: all 0.5s ease-in;
	color: white;
}

#self-sidebar > *:hover {
	background: #2e042e;
	transition: all 0.5s ease-in;
}

#homepage {}

#settings {}

#logout {}

#joined-date {
	width: 25vw;
	height: 10vh;
	text-align: center;
	color: white;
	border: 0;
	font-family: 'Inconsolata', monospace;
	font-size: 1.5rem;
	margin: 1.25rem;
}

#account-controller {
	display: flex;
	flex-direction: column;
	padding-left: 10vw;
	padding-top: 8vh;
}

#account-controller > button, label {
	width: 25vw;
	height: 8vh;
	text-align: center;
	color: white;
	border: 0;
	border-radius: 25px;
	font-family: 'Tahoma', sans-serif;
	font-size: 1.5rem;
	margin: 0.2em;
}

button#change-password {
	background: navy;
	transition: all 0.2s ease-in-out;
}

button#change-password:hover {
	background: rgb(0, 0, 70);
	transition: all 0.2s ease-in-out;
}

label#change-profile {
	background: navy;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease-in-out;
}

label#change-profile:hover {
	background: rgb(0, 0, 70);
	transition: all 0.2s ease-in-out;
}

button#leave-channel {
	background: navy;
	transition: all 0.2s ease-in-out;
}

button#delete-channel {
	background: red;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
}

button#delete-channel:hover {
	background: rgb(177, 4, 4);
	transition: all 0.2s ease-in-out;
}

button#delete-account {
	background: red;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
}

button#delete-account:hover {
	background: rgb(177, 4, 4);
	transition: all 0.2s ease-in-out;
}

#profile-uploader {
	display: none;
}

.settings-prompt {
	transition: all 1s ease-in-out;
}

.settings-prompt > input {
	width: 60vw;
	height: 6vh;
	margin: 0.5rem;
	border: 0;
	border-radius: 25px;
}