html, body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	scrollbar-width: thin;
}

.app-wrapper {
	width: 100vw;
	height: 100vh;
	background: white;
}

.error-container {
    width: 60vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-error {
    width: 30vw;
    height: 6vh;
    background: coral;
    color: red;
    font-weight: bold;
    font-family: 'Tahoma', sans-serif;
    padding: 0.25rem;
    border-radius: 30px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}