.password-prompt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80vw;
	height: 90vh;
	position: absolute;
	background: #7209b7;
	transition: all 1s ease-in-out;
}