#channel-page {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

#channel-header {
    width: 100vw;
    height: 35vh;
}

#channel-access {
    width: 100vw;
    height: 25vh;
}

#doc {
    width: 100vw;
    height: 20vh;
}

#join {
    width: 100vw;
    height: 20vh;
}