#chat-wrapper {
	width: 100vw;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.channel-bar {
	width: 8vw;
	height: 90vh;
	background: #7209B7;
	overflow-x: hidden;
	transition: width 0.5s ease-in-out;
	overflow-y: hidden;
	@media only screen and (min-width: 900px) {
		width: 5vw;
	}
}

.chat-menu {
	width: 92vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	font-family: 'Tahoma', sans-serif;
	@media only screen and (min-width: 900px) {
		width: 95vw;
	}
}

.expanded {
	width: 40vw;
	overflow-y: scroll;
	scrollbar-width: thin;
	@media only screen and (min-width: 900px) {
		width: 35vw;
	}
}

.minimized {
	width: 60vw;
	@media only screen and (min-width: 900px) {
		width: 65vw;
	}
}

#box {
	width: 8vw;
	height: 8vh;
	background: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;
	@media only screen and (min-width: 900px) {
		width: 5vw;
	}
}

.add-channel {
	height: 12vh;
	opacity: 0%;
	transition: width 0.75s, background-color 0.75s, color 0.75s, font-size 0.75s, opacity 0.75s, padding-left 0.75s ease-in-out;
	display: flex;
	align-items: center;
	font-family: 'Inconsolata', monospace;
}

.add-channelexpanded {
	opacity: 100%;
	height: 12vh;
	display: flex;
	align-items: center;
	background: black;
	color: white;
	font-size: 1rem;
	cursor: default;
	padding-left: 2vw;
	font-family: 'Inconsolata', monospace;
	transition: width 0.75s, background-color 0.75s, color 0.75s, font-size 0.75s, opacity 0.75s, padding-left 0.75s ease-in-out;
	@media only screen and (min-width: 900px) {
		font-size: 1.5rem;
	}
}

.add-channelexpanded:hover {
	background: #7209B7;
	color: white;
}

.add-channelexpanded > * {
	cursor: default;
}

.newchannel {
	font-size: 0.6rem;
	@media only screen and (min-width: 500px) {
		font-size: 0.8rem;
	}
	@media only screen and (min-width: 800px) {
		font-size: 1.5rem;
	}
}

.channel-banner {
	width: 24vw;
	height: 8vh;
	background: #ffffff;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #7209B7;
	font-weight: bold;
}

.showing {
	opacity: 100%;
	pointer-events: auto;
}

#friend-search-box {
	height: 45vh;
	background: #f3e2f5;
}

#friend-search-list {
	width: 40vw;
	max-height: 18vh;
	display: flex;
	flex-direction: column;
	background: #7209B7;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	border: none;
}

.friend-sugg {
	width: 30vw;
	color: white;
	margin: 1rem;
	font-size: 1.5rem;
}

.friend-box {
	display: flex;
	border: 1px solid white;
	cursor: default;
}

.friend-box-add {
	background: green;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

#channel-search-list {
	width: 40vw;
	max-height: 18vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: black;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	border: none;
}

.channel-sugg {
	width: 36vw;
	height: 8vh;
	font-size: 1.5rem;
	margin: 0;
	color: white;
	border: 1px solid white;
}

#channel-search-box {
	height: 45vh;
	background: #490249;
	color: white;
}

.search-title {
	font-size: 1.75rem;
	text-align: center;
}

.search-box-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.search-box-wrapper > input {
	width: 40vw;
	height: 8vh;
	outline: none;
}

.search-box-wrapper > datalist > option {
	background: orange;
	border: 0;
	font-size: 1.2rem;
}

.search-box {
	border: 0;
	padding: 0.5rem;
	border-radius: 35px;
	font-size: 1.25rem;
}

.chatmenu {
	background: black;
	color: white;
}

.addchannel {
	background: black;
}

#inputbox {
	width: 100%;
	height: 15vh;
	display: flex;
}

#inputbox > textarea {
	width: 100%;
	font-size: 1.5rem;
	resize: none;
	border: none;
	outline: none;
	padding: 1rem;
}