#chat-wrapper {
	width: 100vw;
	height: 90vh;
	background: orange;
	display: flex;
	justify-content: center;
	align-items: center;
}

.channel-bar {
	width: 5vw;
	height: 90vh;
	background: #7209B7;
	display: flex;
	flex-direction: column;
	transition: all 0.5s ease-in-out;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: thin;
}

#chat-menu {
	width: 95vw;
	height: 90vh;
	background: coral;
	display: flex;
	flex-direction: column;
}

.expanded {
	width: 35vw;
}

#box {
	width: 5vw;
	height: 8vh;
	background: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-channel {
	height: 12vh;
	opacity: 0%;
	transition: all 0.5s ease-in-out;
	display: flex;
	align-items: center;
}

.add-channelexpanded {
	opacity: 100%;
	height: 12vh;
	display: flex;
	align-items: center;
	background: black;
	color: white;
	font-size: 1.5rem;
	cursor: default;
	padding-left: 2vw;
	transition: all 0.75s ease-in-out;
}

.add-channelexpanded:hover {
	background: #7209B7;
	color: white;
}

.add-channelexpanded > * {
	cursor: default;
}

.channel-banner {
	width: 20vw;
	height: 8vh;
	background: #ffffff;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #7209B7;
}

.prompt {
	opacity: 0%;
	position: absolute;
	width: 100vw;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.8);
	pointer-events: none;
	z-index: 3;
	transition: all 0.3s ease-in-out;
}

.prompt-box {
	opacity: 0%;
	width: 70vw;
	height: 80vh;
	background: #7209B7;
	border-radius: 35px;
	pointer-events: none;
	z-index: 4;
	transition: all 0.3s ease-in-out;
}

.prompt-box > #form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#form > input {
	width: 40vw;
	border: 0;
	border-radius: 35px;
	padding: 1rem;
	font-size: 1.25rem;
	outline: none;
}

#form > label {
	font-family: 'Inconsolata', monospace;
	font-size: 1.75rem;
}

#form > select {
	appearance: none;
	width: 15vw;
	height: 10vh;
	font-size: 1rem;
	border: 0;
	border-radius: 35px;
	padding: 1rem;
	background: red;
	color: white;
}

#form > button {
	width: 20vw;
	height: 8vh;
	border: 0;
	color: #f0efeb;
	background: blue;
	border-radius: 35px;
}

.showing {
	opacity: 100%;
	pointer-events: auto;
}

#exit {
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 90%;
	top: 5%;
	font-size: 2rem;
	transition: all 0.15s ease-in-out;
}

#exit:hover {
	cursor: default;
	font-size: 2.5rem;
}

#friend-search-box {
	height: 45vh;
	background: maroon;
}

#channel-search-box {
	height: 45vh;
	background: teal;
}

.search-title {
	font-size: 1.75rem;
	text-align: center;
}

.search-box-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-box-wrapper > input {
	width: 40vw;
	outline: none;
}

.search-box-wrapper > datalist > option {
	background: orange;
	border: 0;
	font-size: 1.2rem;
}

.search-box {
	border: 0;
	padding: 0.5rem;
	border-radius: 25px;
	font-size: 1.25rem;
}

.channel {
	width: 95vw;
	height: 90vh;
	background: turquoise;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.chatmenu {
	background: black;
	color: white;
}

.addchannel {
	background: black;
}

#message-box {
	width: 72vw;
	height: 75vh;
	background: white;
	border: 0;
	border-radius: 10px;
	display: flex;
	flex-direction: column-reverse;
	overflow-y: scroll;
	overflow-anchor: auto;
}

.message-snippet {
	background: #ADD8E6;
	border-radius: 15px;
	padding: 1.5rem;
	margin: 0.5rem;
	font-size: 1.5rem;
	color: white;
}

#anchor {
	overflow-anchor: none;
}

#inputbox {
	width: 72vw;
	height: 15vh;
	display: flex;
}

#inputbox > textarea {
	width: 60vw;
	height: 8vh;
	font-size: 1.5rem;
	resize: none;
	border: none;
	outline: none;
	border-radius: 15px;
	padding: 1rem;
}

button#sendmessage {
	background-color: orange;
	border: 0;
	font-size: 1rem;
	width: 10vw;
	height: 8vh;
	border-radius: 15px;
}
