#chat-wrapper {
	width: 100vw;
	height: 90vh;
	background: orange;
	display: flex;
	justify-content: center;
	align-items: center;
}

.channel-bar {
	width: 5vw;
	height: 90vh;
	background: #7209B7;
	display: flex;
	flex-direction: column;
	transition: all 0.5s ease-in-out;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: thin;
}

#chat-menu {
	width: 95vw;
	height: 90vh;
	background: coral;
	display: flex;
	flex-direction: column;
}

.expanded {
	width: 35vw;
}

#box {
	width: 5vw;
	height: 8vh;
	background: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-channel {
	height: 12vh;
	opacity: 0%;
	transition: all 0.5s ease-in-out;
	display: flex;
	align-items: center;
}

.add-channelexpanded {
	opacity: 100%;
	height: 12vh;
	display: flex;
	align-items: center;
	background: black;
	color: white;
	font-size: 1.5rem;
	cursor: default;
	padding-left: 2vw;
	transition: all 0.75s ease-in-out;
}

.add-channelexpanded:hover {
	background: #7209B7;
	color: white;
}

.add-channelexpanded > * {
	cursor: default;
}

.channel-banner {
	width: 20vw;
	height: 8vh;
	background: #ffffff;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #7209B7;
}

.showing {
	opacity: 100%;
	pointer-events: auto;
}

#friend-search-box {
	height: 45vh;
	background: maroon;
}

#friend-search-list {
	width: 40vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: black;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	border: none;
}

.friend-sugg {
	width: 30vw;
	height: 6vh;
	background: purple;
	color: white;
}

#channel-search-list {
	width: 40vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: black;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	border: none;
}

.channel-sugg {
	width: 30vw;
	height: 6vh;
	background: purple;
	color: white;
}

#channel-search-box {
	height: 45vh;
	background: teal;
}

.search-title {
	font-size: 1.75rem;
	text-align: center;
}

.search-box-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.search-box-wrapper > input {
	width: 40vw;
	outline: none;
}

.search-box-wrapper > datalist > option {
	background: orange;
	border: 0;
	font-size: 1.2rem;
}

.search-box {
	border: 0;
	padding: 0.5rem;
	border-radius: 25px;
	font-size: 1.25rem;
}

.chatmenu {
	background: black;
	color: white;
}

.addchannel {
	background: black;
}

#inputbox {
	width: 72vw;
	height: 15vh;
	display: flex;
}

#inputbox > textarea {
	width: 60vw;
	height: 8vh;
	font-size: 1.5rem;
	resize: none;
	border: none;
	outline: none;
	border-radius: 15px;
	padding: 1rem;
}