#befriend {
	width: 45vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#befriend-button {
	width: 14vw;
	height: 8vh;
	border-radius: 25px;
	color: white;
	background: purple;
	font-size: 1.2rem;
	font-family: 'Tahoma', sans-serif;
	font-weight: bold;
	border: 0;
}