@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

header {
	width: 100vw;
	height: 10vh;
	background: #7209b7;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header-links {
	width: 30vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#header-links > a {
	width: 15vw;
	height: 10vh;
	text-decoration: none;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	overflow-x: hidden;
	transition: all 0.5s ease-in-out;
}

#header-links > a:hover {
	background: black;
	cursor: default;
}

#home-link {
	text-decoration: none;
	color: white;
	font-size: 3rem;
	font-family: 'Train One', cursive;
	margin-left: 2vw;
}
