#notfound {
    width: 100vw;
    height: 90vh;
    background: #f3e2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
}