.prompt {
	opacity: 0%;
	position: absolute;
	width: 100vw;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.8);
	pointer-events: none;
	z-index: 3;
	transition: all 0.3s ease-in-out;
}

.prompt-box {
	opacity: 0%;
	width: 70vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background: #7209B7;
	border-radius: 35px;
	pointer-events: none;
	z-index: 4;
	transition: all 0.3s ease-in-out;
}

.prompt-box > #form {
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#form > input {
	width: 30vw;
	border: 0;
	border-radius: 35px;
	padding: 0.5rem;
	font-size: 1rem;
	outline: none;
	@media only screen and (min-width: 700px) {
		width: 40vw;
		font-size: 1.25rem;
	}
}

#form > label {
	font-family: 'Inconsolata', monospace;
	font-size: 1.2rem;
	color: white;
	@media only screen and (min-width: 700px) {
		font-size: 1.75rem;
	}
}

#form > button {
	width: 24vw;
	height: 8vh;
	border: 0;
	color: #f0efeb;
	background: blue;
	border-radius: 35px;
	font-size: 1rem;
	font-weight: bold;
	@media only screen and (min-width: 700px) {
		width: 20vw;
		font-size: 1.4rem;
	}
}

#exit {
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 90%;
	top: 1%;
	font-size: 2rem;
	font-family: 'Inconsolata', monospace;
	transition: all 0.15s ease-in-out;
	margin: 0;
}

#exit:hover {
	cursor: default;
	font-size: 2.5rem;
}

#authbox {
	display: flex;
	width: 50vw;
	justify-content: space-evenly;
	@media only screen and (min-width: 700px) {
		width: 40vw;
	}
}

#authbox > select {
	appearance: none;
	width: 20vw;
	height: 10vh;
	font-size: 1rem;
	border: 0;
	border-radius: 35px;
	padding: 1rem;
	background: red;
	color: white;
	@media only screen and (min-width: 700px) {
		width: 15vw;
		font-size: 1.4rem;
	}
}

#title-container {
	width: 60vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}