#settings-page {
	width: 90vw;
	height: 90vh;
	background: #f3e2f5;
	display: flex;
	flex-direction: column;
}

#account-controller {
	display: flex;
	flex-direction: column;
	padding-left: 10vw;
	padding-top: 8vh;
}

#account-controller > button, label[id="change-profile"] {
	width: 40vw;
	height: 8vh;
	text-align: center;
	color: white;
	border: 0;
	border-radius: 35px;
	font-family: 'Tahoma', sans-serif;
	font-size: 1rem;
	margin: 0.5em;
	@media only screen and (min-width: 700px) {
		width: 45vw;
		height: 10vh;
		font-size: 1.5rem;
	}
}

.setting-prompt > button {
	color: white;
}

.setting-prompt > label {
	background: #7209b7;
}

#account-message {
	width: 45vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#success {
	width: 26vw;
	height: 8vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background: rgb(16, 143, 16);
	border: 2px solid darkgreen;
	border-radius: 40px;
	font-size: 0.85rem;
	font-family: 'Tahoma', monospace;
	@media only screen and (min-width: 700px) {
		width: 22vw;
		font-size: 1.2rem;
	}
}

button#change-password {
	background: #7209b7;
	transition: background-color 0.2s ease-in-out;
}

button#change-password:hover {
	background: rgb(68, 5, 110);
	transition: background-color 0.2s ease-in-out;
}

label#change-profile {
	background: #7209b7;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.2s ease-in-out;
}

label#change-profile:hover {
	background: rgb(68, 5, 110);
	transition: background-color 0.2s ease-in-out;
}

button#leave-channel {
	background: #7209b7;
	transition: background-color 0.2s ease-in-out;
}

button#delete-channel {
	background: black;
	font-weight: bold;
	transition: background-color 0.2s ease-in-out;
}

button#delete-channel:hover {
	background: rgb(177, 4, 4);
	transition: background-color 0.2s ease-in-out;
}

button#delete-account {
	background: black;
	font-weight: bold;
	transition: background-color 0.2s ease-in-out;
}

button#delete-account:hover {
	background: rgb(243, 3, 3);
	transition: background-color 0.2s ease-in-out;
}

#profile-uploader {
	display: none;
}

.settings-label {
	font-size: 1.2rem;
	font-family: 'Tahoma', sans-serif;
	color: black;
	@media only screen and (min-width: 700px) {
		font-size: 1.5rem;
	}
}