#signup-wrapper {
	width: 100vw;
	height: 90vh;
	background: #f0efeb;
	display: flex;
	justify-content: center;
	align-items: center;
}

#signup-box {
	width: 70vw;
	height: 60vh;
	background: #7209B7;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 35px;
}

#signup-title {
	width: 70vw;
	height: 10vh;
	display: flex;
}

#signup-box > label {
	width: 40vw;
	height: 5vh;
	font-size: 1.2rem;
	color: #F0EFEB;
}

#signup-box > input {
	width: 40vw;
	height: 5vh;
	outline: none;
	border: none;
	padding: 0.5rem;
	border-radius: 25px;
	font-size: 1.25rem;
}

#signup-box > input:focus, input:active {
	outline: none;
}

#signup-box > button {
	border: 0;
	color: white;
	width: 20vw;
	height: 8vh;
	background: purple;
	border-radius: 35px;
	font-size: 1.5rem;
	transition: all 0.2s ease-in-out;
}

#signup-box > button:hover {
	background: red;
}
