#signup-wrapper {
	width: 100vw;
	height: 90vh;
	background: yellow;
	display: flex;
	justify-content: center;
	align-items: center;
}

#signup-box {
	width: 70vw;
	height: 60vh;
	background: green;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#signup-title {
	width: 70vw;
	height: 10vh;
	display: flex;
}

#signup-box > label {
	width: 40vw;
	height: 5vh;
}

#signup-box > input {
	width: 40vw;
	height: 5vh;
	outline: none;
}

#signup-box > input:focus, input:active {
	outline: none;
}
