#signup-wrapper {
	width: 100vw;
	height: 90vh;
	background: #f0efeb;
	display: flex;
	justify-content: center;
	align-items: center;
}

#signup-box {
	width: 80vw;
	height: 80vh;
	background: #7209B7;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 35px;
}

#signup-title {
	width: 70vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Tahoma', sans-serif;
	font-size: 1.2rem;
	color: white;
}

#signup-box > label {
	width: 40vw;
	height: 5vh;
	font-size: 1rem;
	font-family: 'Tahoma', sans-serif;
	color: #F0EFEB;
	margin: 0;
	text-align: center;
	@media only screen and (min-width: 500px) {
		font-size: 1.5rem;
	}
}

#signup-box > input {
	width: 40vw;
	height: 5vh;
	outline: none;
	border: none;
	padding: 0.5rem;
	border-radius: 25px;
	font-size: 0.9rem;
	@media only screen and (min-width: 500px) {
		width: 50vw;
		height: 4vh;
		font-size: 1.25rem;
	}
}

#signup-box > input:focus, input:active {
	outline: none;
}

#signup-box > button {
	border: 0;
	color: white;
	width: 28vw;
	height: 5vh;
	background: purple;
	border-radius: 35px;
	font-size: 1rem;
	transition: all 0.2s ease-in-out;
	margin: 1rem;
	@media only screen and (min-width: 500px) {
		font-size: 1.5rem;
		width: 20vw;
		height: 8vh;
	}
}

#signup-box > button:hover {
	background: red;
}