#signin-wrapper {
	width: 100vw;
	height: 90vh;
	background: #f0efeb;
	display: flex;
	justify-content: center;
	align-items: center;
}

#signin-box {
	width: 80vw;
	height: 80vh;
	background: #7209B7;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 35px;
	font-family: 'Tahoma', sans-serif;
}

#signin-title {
	width: 70vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Tahoma', sans-serif;
	font-size: 1.2rem;
	color: white;
}

#signin-box > label {
	width: 40vw;
	height: 5vh;
	font-size: 1.2rem;
	color: #F0EFEB;
}

#signin-box > input {
	width: 40vw;
	height: 5vh;
	outline: none;
	border: 0;
	padding: 0.5rem;
	border-radius: 25px;
	font-size: 1.25rem;
}

#signin-box > input:focus, input:active {
	outline: none;
}

#signin-box > button {
	border: 0;
	color: white;
	width: 20vw;
	height: 8vh;
	background: red;
	border-radius: 35px;
	font-size: 1.5rem;
	transition: all 0.2s ease-in-out;
}

#signin-box > button:hover {
	background: orange;
}

#title-box {
	width: 35vw;
	height: 10vh;
	background: purple;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 2rem;
}

#error-box {
	width: 35vw;
	height: 10vh;
	background: red;
}

#no-account {
	width: 40vw;
	height: 5vh;
	font-size: 1rem;
}

#no-account > a {
	text-decoration: none;
	font-size: 1rem;
	color: #F0EFEB;
}
